
.main-container {
    background-color: rgb(202, 228, 219);
   
}

.werkzeugname, .anzahl, .einsatzzeit{
    width: 10vw;
}

.spannpositionen-title {
    width: 60vw;   
} 

th {
    text-align: start;   
} 