.error-message {
    color: red
}

.main-container {
    
    background-color: rgb(202, 228, 219);
    width: 1280px;
}

.spannpositionen-fields {
    background-color: #f1f4f6;
}

th {
    width: 20%;
    text-align: start;
}

