<!-- <div>
  <canvas id="myChart"></canvas>
</div> -->
<div class="main-container">
  <table>
    <thead>
      <th class="werkzeugname">Werkzeugname</th>
      <th class="anzahl">Anzahl der Einsatze</th>
      <th class="einsatzzeit">Einsatzzeit</th>
      <th class="spannpositionen-title">Spannpositionen der Werkzeuge</th>
    </thead>
    <tbody>
      <tr *ngFor="let werkzeugData of data; let i=index">
        <td>{{werkzeugData.tool_id}} > {{i}}</td>
        <td>{{werkzeugData.count}}</td>
        <td *ngIf="werkzeugData.time">{{werkzeugData.time | decimalToTime }}</td>
        <td style="display: inline;"><canvas style="width: 800px; height: 50px; display: inline;" id="myChart"></canvas></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <td class="spannpositionen-fields">{{werkzeugData.cposmin}} : {{werkzeugData.cposmax}}</td> WITHOUT CHART--> 
        