

<app-chart-data></app-chart-data>
<div *ngFor="let werkzeug of data">
</div>

<div class="main-container">
  <table>
    <thead>
      <th>Werkzeugname</th>
      <th>Anzahl der Einsatze</th>
      <th>Einsatzzeit</th>
      <th class="spannpositionen-title">Spannpositionen der Werkzeuge</th>
    </thead>
    <tbody>
      <tr *ngFor="let werkzeugData of data">
        <td>{{werkzeugData.tool_id}}</td>
        <td>{{werkzeugData.count}}</td>
        <td *ngIf="werkzeugData.time">{{werkzeugData.time | decimalToTime }}</td>
        <!-- <td class="spannpositionen-fields">{{werkzeugData.cposmin}} : {{werkzeugData.cposmax}}</td> -->
        <td><canvas style="width: 600px; height: 45px; display: inline;" id="myChart">{{werkzeugData.cposmin}}{{myChart}}{{werkzeugData.cposmax}}</canvas></td> 

      </tr>
    </tbody>
  </table>
</div>